@media screen and (max-width: 1920px){
	#one, #two, #three, #four, #five, #six{
		background-size: cover;
	}
	#zmist{
		text-align: center;
		margin-right: 13px;
	}
	#list{
		padding-left: 0px;
	}
	#title{
		margin-right: 0px;
	}
	#name, #email{
		width: 40%;
	}
	#message{
		width: 92%;
	}
	#social_net{
		width: 15%;
	}
}
@media screen and (max-width: 980px){
		#one, #two, #three, #four, #five, #six{
		background-size: contain;

	}
	#one{
		height: 497px;
	}
	#two{
		padding-top: 15px;
		height: 185px;
	}
	#four{
		height: 525px;
	}
	#six{
		height: 500px;
	}
	#inf{
		margin-top: 50px;
		margin-left: 130px;
	}
		#inf p{
			font-size: 14pt;
		}
	#five .menu2{
		margin-bottom: 0px;
	}
	#five .column1,
	#five .column2{
		font-size: 9pt;
	}
	#six h4{
		font-size: 10pt;
	}
	#six p{
		font-size: 8pt;
	}
	.veggie{
		margin-left: 70px;
		min-height: 70px;
	}
	.reservations{
		min-height: 70px;
	}

	li{
		margin: 10px;
		font-size: 8pt;
	}
	h1{
		font-size: 15pt;
	}
	.yellow div{
		width: 25%;
		margin-right: 
	}
	.yellow img{
		height: 45px;
	}
	.yellow p{
		font-size: 8pt;
	}
	.yellow h4{
		font-size: 9pt;
	}
#name, #email{
	width: 34%;
}
#social_net{
	width: 15%;
	bottom: 10px;
}


}