*{
	margin: 0px auto;
	background-repeat: no-repeat;
	background-size: contain;
	font-family: 'Merriweather', serif;
	color: rgb(104, 116, 118);
}
body{
	width: 100%;
	min-height: 400px;
	background-image: url(images/bg.jpg);
}
.start{
	width: 100%;
	height: 720px;
	background-image: url(images/1.jpg);
}
.yellow{
	width: 100%;
	height: 290px;
	background-image: url(images/2.jpg);
	padding-top: 50px;
}
	.yellow div{
		width: 28%;
		min-height: 150px;
		text-align: center;
		float: left;
		margin-right: 40px;
	}
	.yellow div:nth-child(1){
		margin-left: 70px;
	}
	.yellow h4{
		margin-bottom: 20px;
		margin-top: 20px;
		font-size: 16pt;
		text-transform: uppercase;
	}
	.yellow p{
		font-size: 11pt;
		font-weight: lighter;
		line-height: 1.5;
	}
	.yellow img{
		height: 75px;
	}
.month{
	width: 100%;
	height: 720px;
	text-align: center;

}
.about{
	width: 100%;
	height: 725px;
	background-image: url(images/3.jpg);
	text-align: right;
}
	.about div{
		width: 33%;
		float: left;
		text-align: center;
		margin-top: 170px;
		margin-left: 150px;
	}
	.about h1{
		margin-bottom: 15px;
	}
	.about p{
		font-size: 16pt;
		font-weight: lighter;
		margin-top: 20px;
		line-height: 2;
		margin-bottom: 10px;
	}
	.about img{
		width: 200px;
	}
	#signature{
		float: right;
		width: 150px;
		height: 100px;

	}
.menu{
	width: 100%;
	height: 740px;
	text-align: center;
}
	.menu2{
		width: 50%;
		height: 60px;
		margin-bottom: 25px;
		margin-top: 25px;
	}
	.list2{
		padding-left: 0px;
	}
.footer{
	width: 100%;
	height: 725px;
	background-image: url(images/4.jpg);
	margin-top: 30px;
	position: relative;
}

.menu1{
	width: 50%;
	height: 60px;
	float: right;
	margin-bottom: 10%;
}
.list,
.list2{
	list-style-type: none;
	
}
li{
	display: inline-block;
	margin: 20px;
	font-size: 11pt;

}
.navi,
.navi2{
	padding: 8px;
	border: 1px solid rgba(104, 116, 118, 0);
	transition-delay: 100ms;
	transition-duration: 1s;
	transition-timing-function: ease-out;
	transition-property: border;
}
	.navi:hover,
	.navi2:hover{
		border: 1px solid rgba(104, 116, 118, 0.8);
	}
.title{
	width: 50%;
	margin-right: 13px;
	clear: both;
	text-align: center;
}
h1{
	text-align: center;
	font-weight: 100;
	margin-bottom: 30px;
}
.title img,
.title_sp img{
	width: 220px;
}

.title_sp{
	text-align: center;
	padding-top: 50px;
}
	.title_sp h1{
		margin-bottom: 20px;
	}
table{
	border: 0px;
	padding: 0px;
	margin-top: 100px;
}

	td{
		width: 190px;
		height: 190px;
		text-align: center;

	}
	.row_1 td:nth-child(1){
		background-image: url(images/block3_1.png);
	}
	.row_1 td:nth-child(3){
		background-image: url(images/block3_2.png);
	}
	.row_1 td:nth-child(5){
		background-image: url(images/block3_3.png);
	}
	.row_2 td:nth-child(2){
		background-image: url('images/picjumbo111.com_HNCK8693 copy 4.png');
	}
	.row_2 td:nth-child(4){
		background-image: url('images/picjumbo121.com_HNCK8693 copy 3.png');
	}
	.row_2 td:nth-child(6){
		background-image: url('images/picjumbo31.com_HNCK8693 copy.png');
	}
	td h4{
		margin-bottom: 5px;
		margin-top: 10px;
		font-size: 14pt;
		line-height: 16px;
		margin-right: 10px;
		margin-left: 10px;
	}
	td p{
		font-size: 10pt;
		font-weight: lighter;
		margin-bottom: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}
	td img{
		margin-bottom: 5px;
		width: 105px;
	}
.column1{
	width: 50%;
	min-height: 300px;
	text-align: left;
	float: left;
}
	.column1 div{
		margin-left: 100px;
		margin-top: 30px;
	}
	.column1 p{
		font-style: italic;
	}
	.price{
		float: right;
		margin-right: 50px;
	}
	
		
.column2{
	width: 50%;
	min-height: 300px;
	float: left;
	text-align: left;
}
	.column2 div{
		margin-left: 45px;
		margin-top: 30px;
		margin-right: 30px;
	}
	.column2 p{
		font-style: italic;
	}
	.column2 .price{
		margin-right: 75px;
	}
.half{
	width: 50%;
	min-height: 400px;
	float: right;
	text-align: center;
}
.contact h1{
	margin-top: 20px;
	margin-bottom: 20px;
}
.veggie,
.reservations{
	width: 30%;
	min-height: 150px;
	text-align: left;
	float: left;
	margin-top: 30px;
}
.veggie{
	margin-left: 115px;
}
.reservations{
	margin-left: 90px;
}
.half p{
	line-height: 1.5;
	margin-top: 15px;
}
.half h4{
	font-weight: 100;
	text-transform: uppercase;
}
.contact_form{
	width: 74%;
	min-height: 100px;
	margin-left: 115px;
	float: left;
	text-align: center;
}
.message{
	resize: none;
	width: 515px;
	line-height: 20px; 
	border-bottom: 1px solid rgba(104, 116, 118, 0.8);
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	padding: 5px;
	font-style: italic;
}
.contact_form input{
	width: 215px;
	margin-top: 20px;
	padding: 5px;
	padding-left: 10px;
	border-bottom: 1px solid rgba(104, 116, 118, 0.8);
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	margin-bottom: 20px;
	font-style: italic;
	
}
.email{
	margin-left: 65px;
	}
.contact_form .submit{
	width: 100px;
	height: 50px;
	font-size: 11pt;
	padding: 5px;
	border: 1px solid rgba(104, 116, 118, 0);
	margin-top: 20px;
	background-color: white;
	transition-delay: 100ms;
	transition-duration: 1s;
	transition-timing-function: ease-out;
	transition-property: border;
	font-style: normal;
}
	.contact_form .submit:hover{
		border: 1px solid rgba(104, 116, 118, 0.8);
	}
.copyrights {
	width: 300px;
	height: 20px;
	font-size: 11pt;
	position: absolute;
	bottom: 20px;
	right: 40%;
}
.social_net{
	width: 100px;
	height: 50px;
	position: absolute;
	bottom: 20px;
	right: 70px;

}
	.social_net img{
		padding: 15px;
		width: 15px;
		height: 15px;
		border: 1px solid rgba(104, 116, 118, 0.8);
	}






